In [1]:
#importing necassary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#importing the datasets
movie = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')
links = pd.read_csv('links.csv').reset_index()

In [3]:
movie.head()
movie.rename(columns={'title':'Movie-Name','genres':'Movie-Genres'},inplace = True)

In [4]:
poster = pd.read_csv('MovieGenre.csv', encoding='unicode_escape')
poster.drop(['Imdb Link'],axis=1)

,imdbId,Title,IMDB Score,Genre,Poster
0,114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...
...,...,...,...,...,...
40103,83168,Tanya's Island (1980),4.3,Drama,https://images-na.ssl-images-amazon.com/images...
40104,82875,Pacific Banana (1981),4.7,Comedy,https://images-na.ssl-images-amazon.com/images...
40105,815258,Werewolf in a Womens Prison (2006),4.5,Horror,https://images-na.ssl-images-amazon.com/images...
40106,79142,Xiao zi ming da (1979),6.5,Action|Comedy,https://images-na.ssl-images-amazon.com/images...
40107,70710,Snatched (1973),6.5,Crime|Drama|Thriller,NaN

In [5]:
movie.head()

,movieId,Movie-Name,Movie-Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
rating.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [7]:
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [8]:
links.head()

   index  movieId  imdbId   tmdbId
0      0        1  114709    862.0
1      1        2  113497   8844.0
2      2        3  113228  15602.0
3      3        4  114885  31357.0
4      4        5  113041  11862.0

In [9]:
#checking the size of the datasets
print(movie.shape)
print(rating.shape)
print(tags.shape)
print(links.shape)

(10329, 3)
(105339, 4)
(1093360, 4)
(62423, 4)

In [10]:
#checking null values in movie dataset
movie.isnull().sum()

movieId         0
Movie-Name      0
Movie-Genres    0
dtype: int64

In [11]:
#cheking the null values in tag dataset
tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [12]:
#cheking the null values in rating dataset
rating.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [13]:
#cheking the null values in link dataset
links.isnull().sum()

index        0
movieId      0
imdbId       0
tmdbId     107
dtype: int64

In [14]:
#checking duplicate entries in movie dataset
movie.duplicated().sum()

0

In [15]:
#checking duplicate entries in rating dataset
rating.duplicated().sum()

0

In [16]:
#checking duplicate entries in tags dataset
tags.duplicated().sum()

0

In [17]:
#checking duplicate entries in links dataset
links.duplicated().sum()

0

## POPULARITY BASED RECOMD SYS

In [18]:
#merging Two datasets on common coloumn movieID
rating_with_movie = rating.merge(movie,on='movieId').merge(links,on='movieId')

In [19]:
rating_with_movie.drop(['index','timestamp'],axis=1,inplace=True)

In [20]:
rating_with_movie.shape

(104746, 7)

In [21]:
rating_with_movie = rating_with_movie.merge(poster,on='imdbId')
rating_with_movie.drop(['Movie-Name','Movie-Genres','tmdbId'], axis=1)

,userId,movieId,rating,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,1,16,4.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
1,9,16,4.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
2,12,16,1.5,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
3,24,16,4.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
4,29,16,3.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
...,...,...,...,...,...,...,...,...,...
106149,668,140098,2.5,2094034,http://www.imdb.com/title/tt2094034,Runoff (2014),5.8,Drama,https://images-na.ssl-images-amazon.com/images...
106150,668,140816,2.5,3824458,http://www.imdb.com/title/tt3824458,Tangerine (2015),7.0,Comedy|Crime|Drama,https://images-na.ssl-images-amazon.com/images...
106151,668,141472,2.5,3510820,http://www.imdb.com/title/tt3510820,The 50 Year Argument (2014),6.7,Documentary,https://images-na.ssl-images-amazon.com/images...
106152,668,142488,4.0,1895587,http://www.imdb.com/title/tt1895587,Spotlight (2015),8.1,Crime|Drama|History,https://images-na.ssl-images-amazon.com/images...
106153,668,142507,3.5,1596345,http://www.imdb.com/title/tt1596345,Pawn Sacrifice (2014),7.0,Biography|Drama|Sport,https://images-na.ssl-images-amazon.com/images...

In [22]:
num_rating_df = rating_with_movie.groupby(['Movie-Name','imdbId','tmdbId']).count()[["rating"]].reset_index()
num_rating_df.rename(columns={'rating':'Movie-Rating'},inplace = True)

In [23]:
num_rating_df

,Movie-Name,imdbId,tmdbId,Movie-Rating
0,'71 (2014),2614684,252178.0,1
1,'Hellboy': The Seeds of Creation (2004),424755,72867.0,1
2,'Round Midnight (1986),90557,14670.0,1
3,'Til There Was You (1997),118523,32872.0,3
4,"'burbs, The (1989)",96734,11974.0,20
...,...,...,...,...
10047,loudQUIETloud: A Film About the Pixies (2006),449121,22485.0,1
10048,xXx (2002),295701,7451.0,24
10049,xXx: State of the Union (2005),329774,11679.0,7
10050,Â¡Three Amigos! (1986),92086,8388.0,40
10051,Ã€ nous la libertÃ© (Freedom for Us) (1931),22599,31514.0,1

In [24]:
avg_rating_df = rating_with_movie.groupby(['Movie-Name']).mean()["rating"].reset_index()
avg_rating_df.rename(columns={'rating':'AVG-Rating'},inplace = True) 
avg_rating_df.head()

                                Movie-Name  AVG-Rating
0                               '71 (2014)       3.500
1  'Hellboy': The Seeds of Creation (2004)       3.000
2                   'Round Midnight (1986)       2.500
3                'Til There Was You (1997)       4.000
4                       'burbs, The (1989)       3.125

In [25]:
popular_df = num_rating_df.merge(avg_rating_df, on='Movie-Name')
popular_df

,Movie-Name,imdbId,tmdbId,Movie-Rating,AVG-Rating
0,'71 (2014),2614684,252178.0,1,3.500000
1,'Hellboy': The Seeds of Creation (2004),424755,72867.0,1,3.000000
2,'Round Midnight (1986),90557,14670.0,1,2.500000
3,'Til There Was You (1997),118523,32872.0,3,4.000000
4,"'burbs, The (1989)",96734,11974.0,20,3.125000
...,...,...,...,...,...
10047,loudQUIETloud: A Film About the Pixies (2006),449121,22485.0,1,4.500000
10048,xXx (2002),295701,7451.0,24,2.958333
10049,xXx: State of the Union (2005),329774,11679.0,7,2.071429
10050,Â¡Three Amigos! (1986),92086,8388.0,40,3.012500
10051,Ã€ nous la libertÃ© (Freedom for Us) (1931),22599,31514.0,1,3.000000

In [26]:
popular_df.describe()

             imdbId         tmdbId  Movie-Rating    AVG-Rating
count  1.005200e+04   10052.000000  10052.000000  10052.000000
mean   4.302826e+05   33803.438520     10.559292      3.176063
std    6.383065e+05   50176.106196     23.335880      0.809748
min    4.170000e+02       5.000000      1.000000      0.500000
25%    8.290600e+04    9612.750000      1.000000      2.750000
50%    1.185445e+05   16438.000000      3.000000      3.267262
75%    4.241308e+05   38347.000000      9.000000      3.750000
max    5.248968e+06  581579.000000    325.000000      5.000000

In [27]:
#need the data with movie rating more than 100
#filtering the data
popular_df_rated = popular_df[popular_df['Movie-Rating']>=80].sort_values('AVG-Rating' , ascending = False).head(30)
popular_df_rated.merge(movie,on=['Movie-Name'])

,Movie-Name,imdbId,tmdbId,Movie-Rating,AVG-Rating,movieId,Movie-Genres
0,"Shawshank Redemption, The (1994)",111161,278.0,308,4.454545,318,Crime|Drama
1,"Godfather, The (1972)",68646,238.0,210,4.392857,858,Crime|Drama
2,"Usual Suspects, The (1995)",114814,629.0,228,4.328947,50,Crime|Mystery|Thriller
3,Monty Python and the Holy Grail (1975),71853,762.0,154,4.301948,1136,Adventure|Comedy|Fantasy
4,Schindler's List (1993),108052,424.0,248,4.296371,527,Drama|War
5,One Flew Over the Cuckoo's Nest (1975),73486,510.0,143,4.272727,1193,Drama
6,Fargo (1996),116282,275.0,201,4.271144,608,Comedy|Crime|Drama|Thriller
7,"Matrix, The (1999)",133093,603.0,261,4.264368,2571,Action|Sci-Fi|Thriller
8,"Godfather: Part II, The (1974)",71562,240.0,140,4.260714,1221,Crime|Drama
9,Goodfellas (1990),99685,769.0,135,4.259259,1213,Crime|Drama
10,"Departed, The (2006)",407887,1422.0,87,4.258621,48516,Crime|Drama|Thriller
11,Casablanca (1942),34583,289.0,125,4.236000,912,Drama|Romance
12,Star Wars: Episode V - The Empire Strikes Back...,80684,1891.0,228,4.228070,1196,Action|Adventure|Sci-Fi
13,Raiders of the Lost Ark (Indiana Jones and the...,82971,85.0,224,4.212054,1198,Action|Adventure
14,"Silence of the Lambs, The (1991)",102926,274.0,290,4.194828,593,Crime|Horror|Thriller
15,Inception (2010),1375666,27205.0,103,4.189320,79132,Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
16,Star Wars: Episode IV - A New Hope (1977),76759,11.0,273,4.188645,260,Action|Adventure|Sci-Fi
17,Fight Club (1999),137523,550.0,207,4.188406,2959,Action|Crime|Drama|Thriller
18,Psycho (1960),54215,539.0,86,4.186047,1219,Crime|Horror
19,Blade Runner (1982),83658,78.0,156,4.169872,541,Action|Sci-Fi|Thriller
20,Good Will Hunting (1997),119217,489.0,140,4.167857,1704,Drama|Romance
21,"Princess Bride, The (1987)",93779,2493.0,171,4.163743,1197,Action|Adventure|Comedy|Fantasy|Romance
22,Pulp Fiction (1994),110912,680.0,325,4.160000,296,Comedy|Crime|Drama|Thriller
23,American Beauty (1999),169547,14.0,216,4.157407,2858,Drama|Romance
24,L.A. Confidential (1997),119488,2118.0,137,4.156934,1617,Crime|Film-Noir|Mystery|Thriller
25,Aliens (1986),90605,679.0,157,4.146497,1200,Action|Adventure|Horror|Sci-Fi
26,"Dark Knight, The (2008)",468569,155.0,254,4.141732,58559,Action|Crime|Drama|IMAX
27,American History X (1998),120586,73.0,103,4.140777,2329,Crime|Drama
28,Forrest Gump (1994),109830,13.0,311,4.138264,356,Comedy|Drama|Romance|War
29,"Graduate, The (1967)",61722,37247.0,87,4.132184,1247,Comedy|Drama|Romance

In [28]:
popular_df_rated

,Movie-Name,imdbId,tmdbId,Movie-Rating,AVG-Rating
7912,"Shawshank Redemption, The (1994)",111161,278.0,308,4.454545
3566,"Godfather, The (1972)",68646,238.0,210,4.392857
9400,"Usual Suspects, The (1995)",114814,629.0,228,4.328947
5950,Monty Python and the Holy Grail (1975),71853,762.0,154,4.301948
7730,Schindler's List (1993),108052,424.0,248,4.296371
6528,One Flew Over the Cuckoo's Nest (1975),73486,510.0,143,4.272727
3016,Fargo (1996),116282,275.0,201,4.271144
5691,"Matrix, The (1999)",133093,603.0,261,4.264368
3567,"Godfather: Part II, The (1974)",71562,240.0,140,4.260714
3638,Goodfellas (1990),99685,769.0,135,4.259259
2386,"Departed, The (2006)",407887,1422.0,87,4.258621
1605,Casablanca (1942),34583,289.0,125,4.236000
8352,Star Wars: Episode V - The Empire Strikes Back...,80684,1891.0,228,4.228070
7203,Raiders of the Lost Ark (Indiana Jones and the...,82971,85.0,224,4.212054
8001,"Silence of the Lambs, The (1991)",102926,274.0,290,4.194828
4448,Inception (2010),1375666,27205.0,103,4.189320
8351,Star Wars: Episode IV - A New Hope (1977),76759,11.0,273,4.188645
3086,Fight Club (1999),137523,550.0,207,4.188406
7109,Psycho (1960),54215,539.0,86,4.186047
1119,Blade Runner (1982),83658,78.0,156,4.169872
3625,Good Will Hunting (1997),119217,489.0,140,4.167857
7051,"Princess Bride, The (1987)",93779,2493.0,171,4.163743
7118,Pulp Fiction (1994),110912,680.0,325,4.160000
390,American Beauty (1999),169547,14.0,216,4.157407
4977,L.A. Confidential (1997),119488,2118.0,137,4.156934
325,Aliens (1986),90605,679.0,157,4.146497
2217,"Dark Knight, The (2008)",468569,155.0,254,4.141732
403,American History X (1998),120586,73.0,103,4.140777
3249,Forrest Gump (1994),109830,13.0,311,4.138264
3661,"Graduate, The (1967)",61722,37247.0,87,4.132184

## Collabrative Filtering

In [29]:
#filtering out the users who rated around 100 movies i,e its and experienced user
x = rating_with_movie.groupby('userId').count()['rating']>90
bade_log= x[x].index #taking out the index and filterinf out false values

In [30]:
#creating experienced user dataset which rated more than the set criteria that is 100 
filtered_rating= rating_with_movie[rating_with_movie['userId'].isin(bade_log)] #filtering the rating_with_movie with rmoving user expect in bade_log

In [31]:
filtered_rating

,userId,movieId,rating,Movie-Name,Movie-Genres,imdbId,tmdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,1,16,4.0,Casino (1995),Crime|Drama,112641,524.0,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
1,9,16,4.0,Casino (1995),Crime|Drama,112641,524.0,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
3,24,16,4.0,Casino (1995),Crime|Drama,112641,524.0,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
4,29,16,3.0,Casino (1995),Crime|Drama,112641,524.0,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
7,60,16,4.0,Casino (1995),Crime|Drama,112641,524.0,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
...,...,...,...,...,...,...,...,...,...,...,...,...
106149,668,140098,2.5,Runoff (2015),Drama,2094034,288778.0,http://www.imdb.com/title/tt2094034,Runoff (2014),5.8,Drama,https://images-na.ssl-images-amazon.com/images...
106150,668,140816,2.5,Tangerine (2015),Comedy|Drama,3824458,308084.0,http://www.imdb.com/title/tt3824458,Tangerine (2015),7.0,Comedy|Crime|Drama,https://images-na.ssl-images-amazon.com/images...
106151,668,141472,2.5,The 50 Year Argument (2014),(no genres listed),3510820,274906.0,http://www.imdb.com/title/tt3510820,The 50 Year Argument (2014),6.7,Documentary,https://images-na.ssl-images-amazon.com/images...
106152,668,142488,4.0,Spotlight (2015),Thriller,1895587,314365.0,http://www.imdb.com/title/tt1895587,Spotlight (2015),8.1,Crime|Drama|History,https://images-na.ssl-images-amazon.com/images...
106153,668,142507,3.5,Pawn Sacrifice (2015),Drama,1596345,245698.0,http://www.imdb.com/title/tt1596345,Pawn Sacrifice (2014),7.0,Biography|Drama|Sport,https://images-na.ssl-images-amazon.com/images...

In [32]:
y = filtered_rating.groupby('Movie-Name').count()['rating']>=38
famous_movies = y[y].index
famous_movies

Index(['10 Things I Hate About You (1999)', '12 Angry Men (1957)',
       '2001: A Space Odyssey (1968)', '28 Days Later (2002)', '300 (2007)',
       '40-Year-Old Virgin, The (2005)', 'A.I. Artificial Intelligence (2001)',
       'About a Boy (2002)', 'Abyss, The (1989)',
       'Ace Ventura: Pet Detective (1994)',
       ...
       'William Shakespeare's Romeo + Juliet (1996)', 'Willow (1988)',
       'Willy Wonka & the Chocolate Factory (1971)', 'Witness (1985)',
       'Wizard of Oz, The (1939)', 'X-Men (2000)', 'X2: X-Men United (2003)',
       'You've Got Mail (1998)', 'Young Frankenstein (1974)',
       'Zombieland (2009)'],
      dtype='object', name='Movie-Name', length=537)

In [33]:
final_rating = filtered_rating[filtered_rating['Movie-Name'].isin(famous_movies)]

In [34]:
final_rating=final_rating.merge(poster,on='imdbId')

In [35]:
final_rating.drop(['movieId','tmdbId','Movie-Genres','Movie-Name','Imdb Link_y','Title_y','IMDB Score_y','Genre_y','Poster_y'],axis=1)

,userId,rating,imdbId,Imdb Link_x,Title_x,IMDB Score_x,Genre_x,Poster_x
0,1,4.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
1,9,4.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
2,24,4.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
3,29,3.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
4,60,4.0,112641,http://www.imdb.com/title/tt112641,Casino (1995),8.2,Crime|Drama,https://images-na.ssl-images-amazon.com/images...
...,...,...,...,...,...,...,...,...
38555,617,3.5,96446,http://www.imdb.com/title/tt96446,Willow (1988),7.3,Action|Adventure|Drama,https://images-na.ssl-images-amazon.com/images...
38556,627,4.0,96446,http://www.imdb.com/title/tt96446,Willow (1988),7.3,Action|Adventure|Drama,https://images-na.ssl-images-amazon.com/images...
38557,637,5.0,96446,http://www.imdb.com/title/tt96446,Willow (1988),7.3,Action|Adventure|Drama,https://images-na.ssl-images-amazon.com/images...
38558,650,5.0,96446,http://www.imdb.com/title/tt96446,Willow (1988),7.3,Action|Adventure|Drama,https://images-na.ssl-images-amazon.com/images...
38559,668,3.0,96446,http://www.imdb.com/title/tt96446,Willow (1988),7.3,Action|Adventure|Drama,https://images-na.ssl-images-amazon.com/images...

In [37]:
pt = final_rating.pivot_table(index='Title_x',columns='userId',values='rating')

In [38]:
pt.fillna(0,inplace = True)

In [39]:
pt

userId,1,4,7,9,11,17,18,19,21,22,...,646,650,655,656,659,661,662,665,666,668
Title_x,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,4.0,0.0,2.5,0.0,0.0,0.0,4.0,2.0
12 Angry Men (1957),0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0,5.0,4.5
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,3.0
28 Days Later... (2002),0.0,0.0,2.5,0.0,0.0,0.0,4.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
300 (2006),0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.5,3.5,0.0,...,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X2 (2003),0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.5,0.0,0.0,...,4.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,3.5
Ying xiong (2002),0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
You've Got Mail (1998),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0
Young Frankenstein (1974),0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
Zombieland (2009),0.0,0.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5

In [40]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [41]:
similarity_scores = cosine_similarity(pt)

In [42]:
similarity_scores.shape

(537, 537)

In [49]:
def recommend(movie_name):
    #index fetch
    index = np.where(pt.index== movie_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]
    data = []
    
    for i in similar_items:
        item = []
        temp_df = (rating_with_movie[rating_with_movie['Title'] == pt.index[i[0]]])
        item.extend(list(temp_df.drop_duplicates('Title')['Title'].values))
        item.extend(list(temp_df.drop_duplicates('Title')['Genre'].values))
        item.extend(list(temp_df.drop_duplicates('Title')['Poster'].values))
        
        data.append(item)
    return data

In [51]:
recommend("Young Frankenstein (1974)")

[['Raiders of the Lost Ark (1981)',
  'Action|Adventure',
  'https://images-na.ssl-images-amazon.com/images/M/MV5BMjA0ODEzMTc1Nl5BMl5BanBnXkFtZTcwODM2MjAxNA@@._V1_UX182_CR0,0,182,268_AL_.jpg'],
 ['Monty Python and the Holy Grail (1975)',
  'Adventure|Comedy|Fantasy',
  'https://images-na.ssl-images-amazon.com/images/M/MV5BNmNmZjViNTQtNDQ5Mi00MDYzLWI5YWMtNDUyZGNmMGZhNDg4XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UX182_CR0,0,182,268_AL_.jpg'],
 ['Glory (1989)',
  'Biography|Drama|History',
  'https://images-na.ssl-images-amazon.com/images/M/MV5BMTQxNDEwZGItZGI1Yy00YjU0LTlkY2YtMGEzODQ0ZjZjMzBhL2ltYWdlXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_UX182_CR0,0,182,268_AL_.jpg'],
 ['Alien (1979)',
  'Horror|Sci-Fi',
  'https://images-na.ssl-images-amazon.com/images/M/MV5BNDNhN2IxZWItNGEwYS00ZDNhLThiM2UtODU3NWJlZjBkYjQxXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UY268_CR0,0,182,268_AL_.jpg'],
 ['Star Wars: Episode IV - A New Hope (1977)',
  'Action|Adventure|Fantasy',
  'https://images-na.ssl-images-amazon.com/images/M/MV5BYzQ2OTk4N2QtOGQwNy00MmI3LWEwNmEtOTk0OTY3NDk2MGJkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX182_CR0,0,182,268_AL_.jpg']]

In [52]:
import pickle
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(rating_with_movie,open('rating_with_movie.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))